[Desktop Entry]
Version=1.0
Name=gwb
GenericName=gsm's web browser
Comment=Browse the Web
Comment[zh_CN]=网络浏览器
Comment[zh_TW]=網絡瀏覽器
Comment[zh_HK]=網絡瀏覽器
Exec=gwb http://bing.com
Icon=web-browser
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
